<div class="news-card-container" card-title={{title}} card-date={{date}}>
    <div class="news-card-title">{{title}}</div>
    <div class="news-card-date">{{date}}</div>
    <div class="news-card-content">
        {{content}}
    </div>
</div>
